<form class="form-inline" *ngIf="!authService.getUser()">
	<div class="container">
		<div class="row">
			<div class="form-group col-auto">
				<label for="username">User: (type <em>user</em>)</label>
				<input class="form-control" name="username" #username>
			</div>
			<div class="form-group col-auto">
				<label for="password">Password: (type <em> password</em>)</label>
				<input class="form-control" type="password" name="password" #password>
			</div>
			<a class="btn btn-default btn-primary" (click)="login(username.value, password.value)">Entrar!</a>
		  {{mensajeError}}
		</div>
	</div>
</form>
<a class="btn btn-default btn-danger" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>